This jupiter notebook is for generating the smile srings for all the compounds except the n-alkanes.
To achieve this the python package CIRpy was used.

In [1]:
import pandas as pd
import cirpy

C:\Users\wanne\AppData\Local\Temp\ipykernel_11960\2516213697.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv('../csv_files/PE_2_3_combined_raw_new.csv')

#keep trace on which identifier was the most efficient
name_found = 0
casnr_found = 0
exceptions = 0

smiles = []

#we have 802 samples is this df
for i in range(df.shape[0]):
    if i in [100, 200, 300, 400, 500, 600, 700]:
        print("genereting smiles string for compound", i)

    comp_name = df['Component name'][i]
    casnr = df['CAS number'][i]

    #exceptionnally cirpy returns an error than jut add none
    try: 
        smile = cirpy.resolve(comp_name, 'smiles')
    except:
        smile = None
    try: 
        smile2 = cirpy.resolve(casnr, 'smiles')
    except:
        smile2 = None
    if smile == None and smile2 == None:
        exceptions +=1 

    #use some if statements to add the rigth value
    #if both retun None or the rigth smiles string add it
    if smile == smile2:
        smiles.append(smile)
        name_found +=1
        casnr_found +=1
    
    # if they both return a diffrent smile add the smile string generated from the casnr
    elif smile != None and smile2 != None:
        smiles.append(smile2)
    
    #if only smile is None add smile2
    elif smile == None:
        smiles.append(smile2)
        casnr_found +=1

    else:
        smiles.append(smile)
        name_found +=1

genereting smiles string for compound 100
genereting smiles string for compound 200
genereting smiles string for compound 300
genereting smiles string for compound 400
genereting smiles string for compound 500
genereting smiles string for compound 600
genereting smiles string for compound 700

In [18]:
print("amount found by compound name:", name_found)
print("amount found by casnr:", casnr_found)
print("amount of errors", exceptions)

amount found by compound name: 686
amount found by casnr: 460
amount of errors 124

In [23]:
df= pd.read_csv('../csv_files/PE_2_3_combined_raw_new.csv')

In [24]:
df.insert(3,"smiles",smiles,True)
#df.to_csv('../csv_files/PE_2_3_combined_final.csv')

In [25]:
df

,Unnamed: 0,CAS number,Component name,smiles,Mw,PC,RKTZRA,SG,TB,TC,ZC
0,0,61614-58-2,C87H176,None,1222.3500,NaN,NaN,0.823474,NaN,756.85,NaN
1,1,72936-31-3,C75H152,None,1054.0300,NaN,NaN,0.833495,NaN,729.85,NaN
2,2,72942-96-2,C67H136-N2,None,941.8170,NaN,NaN,0.835752,NaN,707.85,NaN
3,3,72936-30-2,C59H120,None,829.6020,2.23433,NaN,0.840052,NaN,684.85,NaN
4,4,16-33-8,18-HEPTADECYLHEXATRIACONTANE,CCCCCCCCCCCCCCCCCCC(CCCCCCCCCCCCCCCCC)CCCCCCCC...,745.4410,2.56410,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
791,791,922-62-3,3-METHYL-CIS-2-PENTENE,CC\C(C)=C/C,84.1613,32.90200,0.26499,0.698000,67.700,241.85,0.264
792,792,563-45-1,3-METHYL-1-BUTENE,CC(C)C=C,70.1344,35.30000,0.27410,0.632500,20.055,179.55,0.286
793,793,513-35-9,2-METHYL-2-BUTENE,CC=C(C)C,70.1344,34.20000,0.25902,0.667600,38.555,196.85,0.256
794,794,563-46-2,2-METHYL-1-BUTENE,CCC(C)=C,70.1344,34.47000,0.26276,0.655700,31.155,191.85,0.260
795,795,115-11-7,ISOBUTYLENE,CC(C)=C,56.1075,40.00000,0.27256,0.600400,-6.900,144.75,0.275

In [26]:
data = df.drop(columns=["Unnamed: 0","CAS number", "Component name"])
idx = []

#find the molecules which did not return a smile string
for i, smile in enumerate(data.smiles):
    if smile == None:
        idx.append(i)

#remove them
data = data.drop(idx)

In [27]:
data

,smiles,Mw,PC,RKTZRA,SG,TB,TC,ZC
4,CCCCCCCCCCCCCCCCCCC(CCCCCCCCCCCCCCCCC)CCCCCCCC...,745.4410,2.56410,NaN,NaN,NaN,NaN,NaN
5,CCCCCCCCCCCCCCCCCCCCCC(CCCCCCCCC)CCCCCCCCCCCCC...,731.4140,NaN,NaN,NaN,NaN,NaN,NaN
6,CCCCCCCCCCCCCCCCCC(CCCCCCCCCCCCCCCC)CCCCCCCCCC...,703.3600,2.81519,NaN,0.830329,NaN,679.85,NaN
8,CCCCCCCCCCCCCCCCC(CCCCCCCCCCCCCCC)CCCCCCCCCCCCCCC,661.2790,3.10505,NaN,NaN,NaN,NaN,NaN
10,CCCCCCCCCCCCCCCCCCCCC(CCCCCCCCCC)CCCCCCCCCCCC,605.1720,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
791,CC\C(C)=C/C,84.1613,32.90200,0.26499,0.698000,67.700,241.85,0.264
792,CC(C)C=C,70.1344,35.30000,0.27410,0.632500,20.055,179.55,0.286
793,CC=C(C)C,70.1344,34.20000,0.25902,0.667600,38.555,196.85,0.256
794,CCC(C)=C,70.1344,34.47000,0.26276,0.655700,31.155,191.85,0.260
795,CC(C)=C,56.1075,40.00000,0.27256,0.600400,-6.900,144.75,0.275

In [28]:
data.to_csv('../csv_files/PE_2_3_combined_new.csv', index=False)

In [29]:
count = 0
for smile in data["smiles"]:
    if smile == None:
        count += 1
print(count)

0